.padding-80-top{
    padding-top: 80px;
}

.padding-20-top{
    padding-top: 20px;
}

.padding-20-bottom{
    padding-bottom: 20px;
}

.padding-20-right{
    padding-right: 20px;
}

.padding-20-left{
    padding-left: 20px;
}

.btn-sm{
    height: 30px;
    padding-left: 5px;
}

input{
    width: 100%;
}

hr.max-length{
    width: 100%;
}